.client {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    @include centerflex();
  }
}
.client__item {
  @media screen and (max-width: 767px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.client__link {
  @include centerflex();
  height: 92px;
  border: 1px solid $icon-background;
  border-radius: 4px;
  color: $icon-background;
  fill: currentColor;
  transition: fill $primary-transition, border-color $primary-transition;
  &:focus,
  &:hover {
    fill: $accent-color;
    border-color: $accent-color;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
