.features {
   @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
      }
}
.features__item {
  width: 100%;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: $section-services-gap;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4);
      }
}
.features__box {
  @include centerflex();
  border-radius: 4px;
  background-color: $background-button-portfolio;
  height: 120px;
  margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.features__title {
  color: $title-text-color;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__description {
  text-align: start;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
