.header {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and(min-width:768px) {
    height: 80px;
  }
}
.position {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}
// .nav {

// }
.nav__list {
  display: block;
  text-align: start;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.nav__link {
  position: relative;
  display: inline-block;
  color: $title-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.18;
  }
  transition: $primary-transition;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;

    @media screen and (min-width: 768px) {
      &::after {
        position: absolute;
        left: 0;
        bottom: -33px;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: $accent-color;
      }
    }
  }
}

.contact {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }
  @media screen and (min-width: 1200px) {
    @include centerflex();
  }
}

.contact__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.contact__link {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: $primary-transition;
  @media screen and (max-width: 767px) {
    justify-content: start;
    .contact__item:first-child & {
      font-size: 24px;
      line-height: 1.18;
      margin-bottom: 44px;
    }
    .contact__item:last-child & {
      font-size: 34px;
      line-height: 1.18;
      margin-bottom: 32px;
      color: $accent-color;
    }
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contack__icon {
  fill: currentColor;
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
