.work {
  display: flex;
}
.work__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.work__description {
  position: absolute;
  bottom: 0;
  @include centerflex;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: $primary-white-color;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.work-section {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
